# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists 
+ Data Science Tools

Some of the popular languages that Data Scientists use are:
+ Python
+ R
+ SQL

Some of the commonly used libraries used by Data Scientists include:
+ Pandas
+ MatPlotLib
+ NumPy

| Data Science Tools | 
|--------------------|
| Anaconda           | 
| Jupyter Notebooks  | 
| PyCharm            |

### Below are a few examples of evaluating arithmetic experessions in Python.

In [2]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Lillie